@using CielaDocs.Application.Dtos
@model CourtDto
@using System.Linq
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-dropdown {
        z-index: 10001;
    }
</style>
<div class="spacer_20"></div>
<h3>Органи на съдебна власт</h3>
<div style="display:inline-block">Към</div> 
<select class="form-control" id="selectCourtType" style="width:280px;display:inline-block;padding-left:5px;">
    <option>Избери... </option>
</select>
<div style="display:inline-block;padding-left:10px;" id="menu"></div>
<div class="spacer_5"></div>
<div id="grid"></div>
@await Html.PartialAsync("_ModalDialogPartial")
@Html.Hidden("CourtId",(int) ViewBag.CourtId)
@section scripts {
    <script>
        const anyModal = $('#anyModal');
        const anyContent = $('#anyContent');
        const anyTitle = $('#anyTitle');
        var selectedId = 0;
        let selectedCourtTypeId=0;
        $('#btnAnySave').on('click', Save);
        $('#btnAnyCancel').on('click', function () {
            anyModal.modal('hide');
            $("#grid").dxDataGrid("instance").refresh();
        });
       
        function addCourt() {
            let spurl = EduDl.baseUrl + "Courts/AddCourtPartial";
            anyContent.empty();
            anyTitle.text('Добавяне на орган на съдебната власт');
            anyContent.html('<p>Зареждам данни…</p>')
            $.ajax({
                type: 'Get',
                url: spurl,
                data: {},
                success: function (data) {
                    anyContent.html(data);
                }
            });

            anyModal.modal('show');
        }
        function Save() {

            var postData = $("#anyForm").serialize();


            $.ajax({
                beforeSend: function (request) {
                    request.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken')
                },
                url: "@Url.Action("Save", "Courts",new {area="Admin"})", method: 'POST', data: postData

            })
                .done(function (result) {
                    if (result.success === true) {
                        $("#grid").dxDataGrid("instance").refresh();
                        anyModal.modal('hide');
                        DevExpress.ui.notify(result.msg);

                    }
                    else {
                        DevExpress.ui.notify(result.msg);
                    }

                })
                .fail(function (e) {

                    console.log(JSON.stringify(e));
                    DevExpress.ui.notify('Failed to save! ' + e);
                    anyModal.modal('hide');
                });
        };

       

        $(() => {


            $("#selectCourtType").select2({
                placeholder: "Избери...",
                allowClear: true,
                ajax: {
                    url: "@Url.Action("GetCourtTypes", "Noms",new {area="Admin"} )",
                    contentType: "application/json; charset=utf-8",
                    data: function (params) {
                        var query =
                        {
                            term: params.term,
                        };
                        return query;
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                return {
                                    id: item.Id,
                                    text: item.Name
                                };
                            }),
                        };
                    }
                }
            }).on('change', function (e) {
                selectedCourtTypeId = $(e.currentTarget).val();
                $("#grid").dxDataGrid("instance").refresh();
            });
            //end of ------

            $('#grid').dxDataGrid({
                dataSource: new DevExpress.data.DataSource({
                    store: new DevExpress.data.CustomStore({
                        key: 'Id',
                        load() {
                            return sendRequest(EduDl.baseUrl + "Noms/GetCourtsByCourtTypeId", 'Get', { courtTypeId: selectedCourtTypeId });
                        }
                    }),
                }),
                paging: {
                    pageSize: 10,
                },
                pager: {
                    visible: true,
                    showNavigationButtons: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                searchPanel: {
                    visible: true,
                    highlightCaseSensitive: true,
                },
                selection: {
                    mode: "single"
                },
                showBorders: true,
                showRowLines: true,
                columns: [
                    {
                        dataField: "Num",
                        width: "3%",
                        caption: "№"
                    },
                    {
                        dataField: "Name",
                        width: "30%",
                        caption: "Наименование"
                    },
                    {
                        dataField: "CourtTypeName",
                        width: "30%",
                        caption: "Вид"
                    },
                    {
                        dataField: "InstitutionTypeName",
                        width: "30%",
                        caption: "Към"
                    }
                    , {
                        dataField: "IsActive",
                        caption: "[A]",
                        width: "4%",
                        cellTemplate: function (element, info) {
                            if (info.text == 'Да') {
                                element.append("<div><img alt='.' src='../images/green-flag.png'></img></div>");
                            }
                            else {
                                element.append("<div><img alt='.' src='../images/red-flag.png'></img></div>");
                            }

                        },
                    },{
                        dataField: "KontoCode",
                        width: "6%",
                        caption: "Конто №"
                    },
                    {
                        type: 'buttons',
                        width: 96,
                        buttons: [{
                            hint: 'Редакция',
                            icon: 'edit',

                            onClick(e) {
                                editCourt(e.row.data.Id)
                                e.component.refresh(true);
                                e.event.preventDefault();
                            },
                        }
                        ],
                    }
                ],

                onRowRemoved: function (e) {
                    e.component.selectRowsByIndexes(0);
                },
                onSelectionChanged: function (items) {
                    if (items.selectedRowsData[0]) {
                        selectedId = items.selectedRowsData[0].Id;
                    }
                },
                focusedRowEnabled: true,
                onFocusedRowChanged(e) {
                    if (e) {
                        getExtraDataItem(e.row);
                    }
                },
            });


        });
        async function getExtraDataItem(row) {


            return false;
        }
        function editCourt(id) {
            let url = EduDl.baseUrl + "Courts/EditCourtPartial";
            anyContent.empty();
            anyTitle.text('Редакция');
            anyContent.html('<p>Зареждам данни…</p>')
            $.ajax({
                type: 'Get',
                url: url,
                data: { id: id },
                success: function (data) {
                    anyContent.html(data);
                }
            });
            anyModal.modal('show');
        }
        const menuData = [
               {
               id: '1',
               name: 'Нов',
               icon: '../images/add.png',

            },
            {
                id: '6_1',
                name: 'Експорт',
                icon: '../images/exporter.svg',


            }, {
                id: '4',
                name: 'Обнови',
                icon: '../images/refresh.png',

            }];
        const dxMenu = $('#menu').dxMenu({
            dataSource: menuData,
            hideSubmenuOnMouseLeave: false,
            displayExpr: 'name',
            onItemClick(data) {
                const item = data.itemData;
                if (item.id) {

                    switch (item.id) {
                        case '1': addCourt();
                            break;

                        case '4':
                            $("#grid").dxDataGrid("instance").refresh();
                            break;
                        case '6_1':
                            var workbook = new ExcelJS.Workbook();
                            var worksheet = workbook.addWorksheet("Owners");

                            DevExpress.excelExporter.exportDataGrid({
                                component: $("#grid").dxDataGrid("instance"),
                                worksheet: worksheet
                            }).then(function () {
                                workbook.xlsx.writeBuffer().then(function (buffer) {
                                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), "Owners.xlsx");
                                });
                            });
                            break;
                    }
                }
            },
        }).dxMenu('instance');

        const showSubmenuModes = [{
            name: 'onHover',
            delay: { show: 0, hide: 500 },
        }, {
            name: 'onClick',
            delay: { show: 0, hide: 300 },
        }];


    </script>
}
